Scraping_LLMs/venv/
Scraping_LLMs/env/
Scraping_LLMs/Basico_Modulo/__pycache__/
Scraping_LLMs/RSS_parser/__pycache__/
Scraping_LLMs/RSS/__pycache__/
Scraping_LLMs/__pycache__
Scraping_LLMs/Selenium/
Scraping_LLMs/pages_scraping.txt
Scraping_LLMs/RSS/.env
Scraping_LLMs/RSS/resultado_pruebas/
Scraping_LLMs/RSS/resultado.docx
Scraping_LLMs/RSS_parser/.env
Scraping_LLMs/RSS_parser/resultado_pruebas/
Scraping_LLMs/RSS_parser/resultado.docx